<h2>Sugarcane Harvesting Labour Management System</h2>

<form method="POST">
    <div style="text-align: center; margin-top: 12%;">
        <div>
            <label for="id">Login ID:</label>
            <input type="text" id="id" name="id">
        </div>
        <div style="margin-top: 2%;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div style="margin-top: 2%;">
            <label for="role">Choose a role:</label>
    
            <select name="role" id="role">
              <option value="SugarFactory">Sugar Factory</option>
              <option value="Mukadam">Mukadam</option>
              <option value="SakharMahasangh">Sakhar Mahasangh</option>
            </select>
        </div>
        <div style="margin-top: 2%;">
            <button type="submit"  value="LogIn">Log In</button>
        </div>
    </div>
</form>

