{% extends "mukadam-home.html" %}
{% block content %}


<div class="m-3" >
    <div class="mb-4">
        <h5>You can assign {{current_no_of_workers}} workers</h5>
    </div>
    <select name="district" id="district">
        <option value="Select a district">==Select District==</option>
        {%for i in districts%}
        <option value="{{i}}">{{i}}</option>
        {%endfor%}
    </select>
    <select name="taluka" id="taluka">
        <option value="Select a Taluka">==Select Taluka==</option>
        {%for i,j in talukas.iterrows()%}
        <option value="{{j['Taluka']}}">{{j['Taluka']}}</option>
        {%endfor%}
    </select>
    <button>Search Factory</button>
</div>

<div style="overflow: scroll; width: 100%; height: 400px; text-align: center;">
    <form method="post">
        <table style="border: 1px solid blue; ">
        <tr>
            <th style="border: 1px solid black;">Sr.No</th>
            <th style="border: 1px solid black;">Factory name</th>
            <th style="border: 1px solid black;">Factory type</th>
<!--            <th style="border: 1px solid black;">Code no.</th>-->
            <th style="border: 1px solid black;">Crushing Capacity</th>
<!--            <th style="border: 1px solid black;">Started Crushing Date</th>-->
            <th style="border: 1px solid black;">District</th>
<!--            <th style="border: 1px solid black;">Taluka</th>-->
<!--            <th style="border: 1px solid black;">Address</th>-->
            <th style="border: 1px solid black;">Phone No</th>
            <th style="border: 1px solid black; width:100px">Crop Area</th>
            <th style="border: 1px solid black;">Required no of workers</th>
            <th style="border: 1px solid black;">No of workers</th>
            <th style="border: 1px solid black;">Send Request</th>
            <th style="border: 1px solid black;">Expectations</th>
        </tr>
        {%for i,j in sugar_factory.iterrows()%}
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">{{j['S.No.']}}</td>
            <td style="border: 1px solid black;">{{j['Factory Name']}}</td>
            <td style="border: 1px solid black;">{{j['Factory Type']}}</td>
<!--            <td style="border: 1px solid black;">{{j['Code No.']}}</td>-->
            <td style="border: 1px solid black; text-align: center;">{{j['Capacity']}}</td>
<!--            <td style="border: 1px solid black;">{{j['Started CrushingDate']}}</td>-->
            <td style="border: 1px solid black;">{{j['City']}}</td>
<!--            <td style="border: 1px solid black;">{{j['City']}}</td>-->
<!--            <td style="border: 1px solid black;">{{j['Address']}}</td>-->
            <td style="border: 1px solid black;">{{j['PhoneNo.']}}</td>
            <td style="border: 1px solid black; text-align: center;">{{j['Crop Area']}}</td>
            <td style="border: 1px solid black; text-align: center;">{{j['Required no of workers']}}</td>

            <td style="border: 1px solid black;" >
                <input type="text" style="width:100%" name="input{{j['Code No.']}}" id="input{{j['Code No.']}}">
            </td>
            <td style="border: 1px solid black;" >
                <button type="submit" name="button{{j['Code No.']}}" id="{{j['Code No.']}}" onclick="Required(this)">Send Request</button>
            </td>
            <td style="border: 1px solid black;" >
                <input type="text" style="width:100%" name="input{{j['Code No.']}}" id="expectations{{j['Code No.']}}">
            </td>
        </tr>
        {%endfor%}


    </table>
    </form>

</div>

<div style="text-align:center; margin:2%">
    <h4>Sent Requests:</h4>
    <div>

    </div>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            {% for col in column_names %}
            <th style="border: 1px solid black;">{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}

                    <td style="border: 1px solid black;">{{row_}}</td>



            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>



<script type="text/javascript">
function Required(button){
    var inputs = document.querySelectorAll("input");
    console.log(inputs);
    for(var i = 0, len = inputs.length; i < len; i++) {
        inputs[i].removeAttribute("required");
    }

    var id = button.id;
    console.log(id);
    var input_id = "input" + id;
    document.getElementById(input_id).required = true;

}

</script>

{% endblock %}