<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <h4>Sugarcane Harvesting Labour Management System - Mukadam</h4>

    <div class="row m-4">
        <div class="col-2" style="background-color: aqua; height: 30%;" >
            <ul>
                <li style="padding: 6%;">
                    <a href="mukadam-home">Home</a>
                </li> 
                <li style="padding: 6%;">
                    <a href="mukadam-send-request">Send request to Sugar factory</a>
                </li> 
                <li style="padding: 6%;">
                    <a href="mukadam-register-worker">Register Worker</a>
                </li> 
                <li style="padding: 6%;">
                    <a href="mukadam-enter-worker-performance">Enter Worker Performance</a>
                </li> 
                
            </ul>
            
        </div>
        <div class="col-10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
</body>
    
    
</html>


