<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register Mukadam</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Sugarcane Harvesting Labour Management System</h2>
        <form method="POST">
            <div style="text-align: center; margin-top: 250px;">
                Enter Mukadam Name: <input placeholder="name" required id="name" name="name"><br><br>
                Enter Mukadam Aadhar number:<input placeholder="aadhar" required id="aadhar" name="aadhar"><br><br>
                <button type="submit" >Register</button>
            </div>
        </form>
        
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>