<h2>Sugarcane Harvesting Labour Management System - Sugar Factory</h2>

<div style="background-color: rgb(213, 241, 213); width: 15%; height: 100%;">
    <div>
        <ol>
            <li style="padding: 6%;">
                <a href="mukadam-home">Dashboard</a>
            </li>
            <li style="padding: 6%;">
                <a href="sugar-factory-view-mukadam-requests">View Mukadam Requests</a>
            </li>
            <li style="padding: 6%;">
                <a href="sugar-factory-search-mukadam">Search Mukadam</a>
            </li>
            <li style="padding: 6%;">
                <a href="">Enter Mukadam Details</a>
            </li>

            <li style="padding: 6%;">
                <a href="">Search workers</a>
            </li>
        </ol>
        
    </div>
</div>