<h2>Sugarcane Harvesting Labour Management System - Sugar Factory</h2>

<div style="background-color: rgb(213, 241, 213); width: 15%; height: 100%;">
    <div>
        <ul>
            <li style="padding: 6%;">
                <a href="mukadam-home">Home</a>
            </li> 
            <li style="padding: 6%;">
                <a href="">Search Mukadam</a>
            </li> 
            <li style="padding: 6%;">
                <a href="">Enter Mukadam Details</a>
            </li> 
            <li style="padding: 6%;">
                <a href="">View Mukadam Requests</a>
            </li> 
            <li style="padding: 6%;">
                <a href="">Search Workers</a>
            </li> 
        </ul>
        
    </div>
</div>